<form  action="edit" method="post">
  <h2>Name <input type="text" name="figure[name]" id ='figure_name' value="<%=@figure.name%>" required></h2>
  <% if !@titles.blank? %>
  <h2>Titles</h2>
    <% for item in @titles %>
      <p><input type="checkbox" name="figure[title_ids][]" id="title_<%=item.id%>" value="<%=item.id%>" <%='checked' if @figure.titles.include?(item) %>><%=item.name%></input></p>
    <% end %>
  <%end%>
  <p>Add Title <input type="text" name="title[name]" id="new_title"></p>
  <% if !@landmarks.blank? %>
  <h2>Landmarks</h2>
    <% for item in @landmarks %>
      <p><input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=item.id%>" value="<%=item.id%>" <%='checked' if @figure.landmarks.include?(item) %>><%=item.name%></input></p>
    <% end %>
  <%end%>
  <p>Add Landmark <input type="text" name="landmark[name]" id="new_landmark"></p>
  <p><input type="submit" name="submit" value="Edit Figure"></p>
</form>
